.rad_rapidology_rapidbar.rad_rapidology_rapidbar_trigger_auto{
    display: none !important;
}
.rad_rapidology_rapidbar  .rad_rapidology_redirect_page{
    margin-left:auto;
    margin-right:auto;
    display: block;
    text-align: center;

}
.rad_rapidology_rapidbar, .rad_rapidology_preview_rapidbar{
    position: fixed;
    width:100%;
    min-width:750px !important
height:30px !important;
    top:0;
    z-index: 9999999999; /*I hate to add this but need reliablity to be ontop over everything else */
}
.rad_rapidology_rapidbar_form_container_wrapper, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form_container_wrapper{
    display: inline-block;
    width: 100%;
    min-width:1000px !important;
    overflow:hidden !important;
    text-align: center;
}
.rad_rapidology_rapidbar_form strong, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form strong{
    font-weight: bold;
}

.rad_rapidology_rapidbar_form .rad_rapidology_form_container, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form .rad_rapidology_form_container{
    max-width:100% !important;
    max-height:30px !important;

}
.rad_rapidology_rapidbar_header_outer, .rad_rapidology_rapidbar_form_content, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_header_outer, .rad_rapidology_rapidbar_form_content{
    display: inline-block;
}
.rad_rapidology_rapidbar_form_header, .rad_rapidology_rapidbar_form_content, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form_header, .rad_rapidology_rapidbar_form_content{
    max-height: 30px;
}
.rad_rapidology_rapidbar_form .rad_rapidology_form_text, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form .rad_rapidology_form_text{
    padding:0 !important;
    height:30px !important;;
    line-height: 30px !important;
}
.rad_rapidology_rapidbar_form .rad_rapidology_form_text p, .rad_rapidology_preview_rapidbar .rad_rapidology_form_text p{
    font-size:14px !important;
    line-height: 30px !important;
    text-align: center !important;
}
.rad_rapidology_rapidbar_form .rad_rapidology_form_text p strong, .rad_rapidology_preview_rapidbar .rad_rapidology_form_text p strong {
    font-weight: bold;
}
.rad_rapidology_rapidbar_input, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_input{
    float:left;
    margin-right:10px !important;
}
.rad_rapidology_rapidbar_input input, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_input input{
    width: 100%;
    font-weight: 600;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    height:30px;
    margin-top:1px;
    min-width:250px;
}
.rad_rapidology_header_text_light .rad_rapidology_form_text p, .rad_rapidology_preview_rapidbar .rad_rapidology_header_text_light .rad_rapidology_form_text p{
    color: #fff !important;
}
.rad_rapidology_rapidbar_form .rad_rapidology_submit_subscription, .rad_rapidology_rapidbar_form .rad_rapidology_redirect_page, .rad_rapidology_preview_rapidbar  .rad_rapidology_submit_subscription, .rad_rapidology_preview_rapidbar .rad_rapidology_redirect_page{
    float: right !important;
    height: 30px !important;
    padding: 5px !important;
    margin: 0 !important;
    text-align: center !important;
    cursor: pointer;
    border: none;
    font-size:14px !important;

}
.rad_rapidology .rad_rapidology_rapidbar_form .rad_rapidology_close_button, .rad_rapidology_preview_rapidbar .rad_rapidology_close_button{
    right: 2px !important;
    top: 0 !important;
    background-color: transparent;
}
.rad_rapidology_rapidbar_form .rad_rapidology_form_text_light input::-moz-placeholder, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form .rad_rapidology_form_text_light input::-moz-placeholder{
    color:#fff;
}
.rad_rapidology_rapidbar_form .rad_rapidology_form_text_light input, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form .rad_rapidology_form_text_light input{
    background-color: rgba(255,255,255,0.3);
    color: #fff;
}

.rad_rapidology_rapidbar_form .rad_rapidology_form_text_dark input::-moz-placeholder, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form .rad_rapidology_form_text_dark input::-moz-placeholder, .rad_rapidology_close_button.rad_rapidology_header_text_dark{
    color:rgba(0,0,0,0.6) !important;
}

.rad_rapidology_rapidbar_form .rad_rapidology_form_text_dark input, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar_form .rad_rapidology_form_text_dark input{
    background-color: #fff;
    color: rgba(0,0,0,0.6)!important;
}
.hidden_item, .rad_rapidology_preview_rapidbar .hidden_item{
    display:none;
}
.rad_rapidology_rapidbar .rad_power_rapidology, .rad_rapidology_preview_rapidbar .rad_rapidology_rapidbar .rad_power_rapidology{
    width: 100px !important;
    float:left;
}

.rad_power_box_mode_rapidbar, .rad_rapidology_preview_rapidbar .rad_power_box_mode_rapidbar{
    height:30px;
    display:inline-block;
    vertical-align: middle;
    z-index: 100000;
}

.rad_power_box_mode_rapidbar .rad_power_logo, .rad_rapidology_preview_rapidbar .rad_power_box_mode_rapidbar .rad_power_logo{
    display:block;
    height:30px;
    font-size:25px !important;

}
.rad_power_box_mode_rapidbar_light .rad_power_logo, .rad_rapidology_preview_rapidbar .rad_power_box_mode_rapidbar_light .rad_power_logo{
    color: #fff !important;
}
.rad_power_box_mode_rapidbar_dark .rad_power_logo, .rad_rapidology_preview_rapidbar .rad_power_box_mode_rapidbar_dark .rad_power_logo{
    color:#7E7B7B !important;
}
.rad_power_rapidology a .rad_power_logo:after, .rad_rapidology_preview_rapidbar .rad_power_rapidology a .rad_power_logo:after {
    font-family: 'rapidology-cirlogo' !important;
    content:"\e601" !important;
    font-size: 30px !important;
    margin-right: 5px;
    margin-left:5px;
    line-height: 30px !important;
    vertical-align: middle !important;
}

.rad_rapidology_rapidbar_form_header  .rad_rapidology_success_message{
    margin-top:0 !important;
    height: 30px !important;
    max-height: 30px !important;
    display: inline-block;
    vertical-align: middle;
}

.rad_rapidology_rapidbar_form_header h2.rad_rapidology_success_message{
    padding:0 !important;
    width:100% !important;
    color: black !important;
}

/*---rapdibar preivew specific----*/
.rad_rapidology_preview_rapidbar{
    top:32px;
}
.rad_rapidology_preview_rapidbar .rad_rapidology_form_container{
    max-width:100% !important;
}

.rad_rapidology_preview_rapidbar .rad_rapidology_form_text {
    padding: 0 !important;
}

.rad_rapidology_preview_rapidbar .rad_rapidology_form_container {z-index: 999999999;}

.rad_rapidology_preview_rapidbar:after{ content: ""; background-color: rgba(0,0,0,.6); top: 0; left: 0; width: 100%; height: 100%; position: fixed; }

.rad_rapidology_preview_rapidbar .rad_rapidology_header_text_dark h2{  color: #898C91 !important;  }
.rad_rapidology_preview_rapidbar .rad_rapidology_header_text_dark p { color: rgba(137,140,145,0.7) !important; }